.dialog-container{
    position: relative;
}

.dialog-content-cont{
    padding-top: 16px !important; 
}

.mr-16{
    margin-right: 16px;
}

.dialog-container {
    .error-message {
      color: red;
      font-weight: 500;
      margin-bottom: 10px;
      display: flex;
    justify-content: center;
    font-size: 16px;
    }
  }



