<h2 mat-dialog-title>Add User</h2>
<div mat-dialog-content class="dialog-content-cont">
    <div>
        <mat-form-field class="mr-16" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Placeholder">
          <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Placeholder">
            <!-- <mat-hint>Please enter a last name</mat-hint> -->
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Birth Date</mat-label>
            <input matInput placeholder="Placeholder" [matDatepicker]="picker">
            <!-- <mat-hint>Please enter a date</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Street & House N</mat-label>
            <input matInput placeholder="Placeholder">
            <!-- <mat-hint>Please enter a last name</mat-hint> -->
          </mat-form-field>
    </div>
    <div>
    <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input matInput placeholder="Placeholder">
        <!-- <mat-hint>Please enter a last name</mat-hint> -->
      </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="Placeholder">
            <!-- <mat-hint>Please enter a last name</mat-hint> -->
        </mat-form-field>
    </div>
</div>
<mat-dialog-actions>
  <button mat-button>Cancel</button>
  <button mat-button cdkFocusInitial>Save</button>
</mat-dialog-actions>
