.header{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  
    .header-container{
        padding: 16px;
  
        .font-size-24{
            font-size: 24px;
        }
    }
  }