<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>
        <h1><b>Log</b> In</h1>
      </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
        <form [formGroup]="loginForm">
        <!-- Email Input -->
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Your email address"> <!-- Fixed -->
          </mat-form-field>
  
        <!-- Password Input -->
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Enter your password">
        </mat-form-field>
  
        <!-- Button Container -->
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Login</button>
          <button mat-button color="accent" (click)="guestLogin()">Login as Guest</button>
        </div>
  
        <!-- DialogRegister Container -->
        <div class="DialogRegister-container">
          <p>Don't have an account?</p>
          <button mat-button color="warn" (click)="openDialog()">Create Account</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  