<app-header [title]="'Contacts'"></app-header>
<mat-card appearance="outlined">
    <mat-card-content>

        <table class="contact-table">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Zip Code</th>
                <th>City</th>
                <th>Street & House N</th>
            </tr>
            @for(contact of contacts; track contacts; let i = $index){
            <tr>
                <td class="empty">
                    <mat-icon (click)="handleIconClick(contact)" matTooltip="Convert into a user"
                        matTooltipPosition="above"
                        [ngClass]="{'inactive-icon': contact.id ? duplicateStatus[contact.id] : false}">
                        {{ contact.id && duplicateStatus[contact.id] ? 'person_add_disabled' : 'person_add' }}
                    </mat-icon>
                </td>
                <td>{{contact.firstName}} {{contact.lastName}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.zipCode}}</td>
                <td>{{contact.city}}</td>
                <td>{{contact.street}}</td>
            </tr>
            }
        </table>
    </mat-card-content>
</mat-card>