<div class="dialog-container">
  @if(loading){<mat-progress-bar mode="indeterminate"></mat-progress-bar>}
  <h2 mat-dialog-title>Registration</h2>
  <div mat-dialog-content class="dialog-content-cont">
    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Your Name</mat-label>
        <input [disabled]="loading" [(ngModel)]="contact.firstName" matInput placeholder="First" required>
        @if(!contact.firstName){<mat-error>First Name is required</mat-error>}
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Your Last Name</mat-label>
        <input [disabled]="loading" [(ngModel)]="contact.lastName" matInput placeholder="Last Name" required>
        @if(!contact.lastName){<mat-error>Last Name is required</mat-error>}
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Your E-mail</mat-label>
        <input [disabled]="loading" [(ngModel)]="contact.email" matInput placeholder="E-mail" required>
        @if(!contact.email){<mat-error>E-mail is required</mat-error>}
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="contact.password"
          matInput
          placeholder="Password"
          type="password"
          required
          [pattern]="passwordPattern"
          minlength="8"
          [matTooltip]="!isPasswordValid() ? 'Password must be at least 8 characters long and include letters, numbers, and symbols.' : ''"
          matTooltipPosition="above"
          matTooltipHideDelay="10000"
        >
        @if(!contact.password){<mat-error>Password is required</mat-error>}
       
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="confirmPassword"
          matInput
          placeholder="Confirm Password"
          type="password"
          required
          [matTooltip]="!doPasswordsMatch() ? 'Passwords do not match' : ''"
          matTooltipPosition="above"
          matTooltipHideDelay="10000"
        >
        @if(!confirmPassword){<mat-error>Confirm Password is required</mat-error>}
      </mat-form-field>
    </div>
   
    <div>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Street & House N</mat-label>
        <input [disabled]="loading" [(ngModel)]="contact.street" matInput placeholder="Street">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input [disabled]="loading" [(ngModel)]="contact.zipCode" matInput placeholder="Zip Code">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input [disabled]="loading" [(ngModel)]="contact.city" matInput placeholder="City" required>
        @if(!contact.city){<mat-error>City is required</mat-error>}
      </mat-form-field>
    </div>
  </div>
  <mat-dialog-actions>
    <button [disabled]="loading" mat-button (click)="closeDialog()">Cancel</button>
    <button [disabled]="loading || !isFormValid()" mat-button (click)="saveContact()" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</div>


