<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      <img class="logo" src="../assets/img/logo4.png" alt="logo" />
    </div>
    <ul class="menu-items">
      <a href="dashboard"><mat-icon>dashboard</mat-icon>Dashboard</a>
      <a href="user"><mat-icon>person</mat-icon>Users</a>
      <a href="deal"><mat-icon>work</mat-icon>Deals</a>
    </ul>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary bgc-blue">
      <mat-toolbar-row>
        <mat-icon class="menu-icon" (click)="drawer.toggle()">menu</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet />
    </div>
  </div>
</mat-drawer-container>