<mat-card appearance="outlined">
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Type</th>
                <th>Priority</th>
            </tr>
            @for(user of users; track user; let i = $index){
            <tr>
                <td><a [routerLink]="[ '/user/' + user.id ]">
                        {{user.firstName}} {{user.lastName}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.city}}</td>
                <td class="ft-white" [ngClass]="getTypeClass(user.type)">{{user.type}}</td>
                <td class="ft-white" [ngClass]="getPriorityClass(user.priority)">{{user.priority}}</td>
            </tr>
            }
        </table>
    </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user"
    matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>